<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>数据可视化项目</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>

	<body>
		<div id="app">
			<!-- 页头 -->
			<div class="header">
				<h2>数据可视化项目</h2>
			</div>
			<!-- 内容主体 -->
			<div class="main">
				<div class="main-left">
					<div
						style="float: none; display: block; height: 500px"
					></div>
				</div>
				<div class="main-right" id="login">
					<h2>登&nbsp;录</h2>
					<div class="login-row">
						<span>用户名：</span>
						<input
							type="text"
							required="required"
							name="u"
							v-model="loginForm.username"
						/>
					</div>
					<div class="login-row">
						<span>密&nbsp;&nbsp;&nbsp;码：</span>
						<input
							type="password"
							required="required"
							name="pw"
							v-model="loginForm.passwd"
						/>
					</div>
					<div class="login-row">
						<span>验证码：</span>
						<input
							type="text"
							size="10"
							v-model="loginForm.vericode"
						/>
					</div>
					<div class="login-row">
						<button type="button" id="login-btn" @click="onLogin">
							登录
						</button>
						<button type="button" id="login-btn" @click="onTest">
							HelloWorld
						</button>
					</div>
					<div class="login-row" id="login-font">
						<span>还没有账号？</span>
						<a href="register.html" target="_blank">立即注册</a>
						&NonBreakingSpace;
						<a href="" target="_blank">忘记密码？</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Vue.js框架 -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<!-- Axios库，提供AjaxHttp请求 -->
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<!-- 用于转换Json到表单格式 -->
		<script src="https://cdn.jsdelivr.net/npm/qs@6.9.4/dist/qs.min.js"></script>
		<script>
			var app = new Vue({
				el: '#app',
				data: {
					// 登录表单数据
					loginForm: {
						username: '',
						passwd: '',
						vericode: '',
					},
				},
				methods: {
					onTest() {
						axios
							.get('/api/helloworld')
							.then(res => {
								console.log(res);
								if (res.data.code) {
									alert('调用错误!后端信息:' + res.data.msg);
									return;
								}
								alert('后端信息:' + res.data.data);
							})
							.catch(err => {
								console.log(err);
								if (err.data) {
									alert('调用错误!后端信息:' + err.data.msg);
									return;
								}
								alert('调用错误!');
							});
					},
					// 处理登录按钮点击事件
					onLogin() {
						console.log('登录');
						console.log(this.loginForm);
						var that = this;
						axios
							.get(
								'/api/user/login?' +
									Qs.stringify({
										username: that.loginForm.username,
										passwd: that.loginForm.passwd,
									})
							)
							.then(res => {
								console.log(res);
								if (res.data.code) {
									alert('登陆失败!信息:' + res.data.msg);
									return;
								}
								alert('登陆成功!');
							})
							.catch(err => {
								console.log(err);
								if (err.data) {
									alert('登陆失败!信息:' + err.data.msg);
									return;
								}
								alert('登陆失败!');
							});
					},
				},
			});
		</script>
	</body>
</html>
